/*
Declaration Block:

selector{
    property: value;
    property2: value;
    property3: value;

}
*/


body{
    background-color: blueviolet;
    color: aqua;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    width: 1400;
}

h1{
    text-align: center;
}